---
goal: {{GOAL}}
done_when: {{DONE_WHEN}}
assumptions:
  A: {{ASSUMPTION_A}}
escalate_if:
  - Any assumption above is observed false.
limits:
  timeout_s: 60
  max_retries: 1
context: {{CONTEXT}}
---

